/* BUTTONS */
@mixin button {
  border-radius: $border-radius-small;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background: $white20perc;
  padding: $button-padding;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $black;
  }
}

.button {
  @include button;
}