@font-face {
  font-family: HelveticaNeueLight;
  font-weight: 200;
  src: local('HelveticaNeueLight'), url('~@/assets/fonts/HelveticaNeueLight.ttf') format('truetype');
}
@font-face {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  src: local('HelveticaNeueLight'), url("~@/assets/fonts/HelveticaNeueRegular.ttf") format('truetype');
}
@font-face {
  font-family: HelveticaNeueLight;
  font-weight: 550;
  src: local('HelveticaNeueLight'), url('~@/assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
}
@font-face {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  src: local('HelveticaNeueLight'), url('~@/assets/fonts/HelveticaNeueBold.ttf') format('truetype');
}